:root {
  --bg-color: #1e3a8a; /* البنفسجي */
  --box-bg: #ffffff;
  --text-color: #000000;
  --sidebar-bg: #595f68;
  --input-bg: #ffffff;
  --input-text: #495057;
  --input-border: #ced4da;
}
body.dark-mode {
  --bg-color: #1e3a8a; /* الأزرق الداكن */
  --box-bg: #121212; /* الأسود */
  --text-color: #ffffff; /* النص الأبيض */
  --sidebar-bg: #1f2937; /* رمادي داكن للشريط الجانبي */
  --input-bg: #2d3748;
  --input-text: #e5e7eb;
  --input-border: #4a5568;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
  font-family: cairo, sans-serif;
  direction: rtl;
}

#root {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--box-bg);
  box-shadow: 2px 2px 10px #3f4850;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mb-30 {
  margin-bottom: 30px;
}

@media (max-width: 1200px), (max-height: 600px) {
  body {
    padding: 75px 0;
  }

  #root {
    width: 90%;
    position: static;
    margin: 0 auto;
    transform: translate(0, 0);
  }
}
.form-input {
  background-color: var(--input-bg);
  color: var(--input-text);
  border: 1px solid var(--input-border);
}

.note-item {
  border-bottom: 0.5px solid var(--input-border);
}
